body{
    margin: 0px;
    padding: 0px;
}

.row{
    margin-top: 20px;
}

.btn{
    margin-left: 20px;
}

.alert{
    margin-left: 20px;
}

.title{
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
    color: green; 
}

.info-text {
    font-size: 16px;
    font-weight: 300;
    color: brown; 
}
